TELEGRAM_BOT_TOKEN=

sticker: {
    width: 512,
    height: 512,
    emoji: '😑',
    set_name: 'JonParNwayOo',
    is_animated: false,
    is_video: false,
    type: 'regular',
    thumb: {
      file_id: 'AAMCBQADGQEAA2Vj0OgIcN8irNca1PMQEbo03iMG9wACYQIAAgXaiVUl9AvJ4HwPGwEAB20AAy0E',
      file_unique_id: 'AQADYQIAAgXaiVVy',
      file_size: 15298,
      width: 320,
      height: 320
    },
    file_id: 'CAACAgUAAxkBAANlY9DoCHDfIqzXGtTzEBG6NN4jBvcAAmECAAIF2olVJfQLyeB8DxstBA',
    file_unique_id: 'AgADYQIAAgXaiVU',
    file_size: 26450
  }